.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-left: 40px;
   margin-right: 5%;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}

.navbar li{
    font-weight: 300;
    line-height: 24.2px;
    font-size: 20px;
    margin: 30px;
    color: rgba(255, 255, 255, 1) !important;   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar li:hover{
    transform: scale(1.5);
}

.navbar a{
    text-underline-offset: 5px;
    color: aliceblue !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar a:hover{
    transform: scale(1.5);
}