.projects{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 10%;
}

.projects h1{
    font-size: 50px;
}

#btnB button{
    display: block;
    margin: 0 auto;
}