@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  background-image: url('./image/background/background.svg');
  color: aliceblue;
  font-family: "Inter", sans-serif;
  background-size: 100%;
}

